/*GENERAL SETTINGS*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*FONT & GENERAL STYLES*/
body {
  font-size: 2rem;
  background-color: #e2e2e2;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;

  font-feature-settings: "liga" 0, "rlig" 0, "dlig" 0, "hlig" 0, "smcp" 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: 4rem;
  /*margin: 10px 0;
  padding: 0 20px;*/
}

/*1. HEADER + NAVBAR*/

header {
  display: flex;
  flex-flow: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.logo,
.hamburger-menu {
  /*border: solid 2px blue;*/
  height: 69px;
  width: 69px;
}

.hamburger-menu {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*LOGO*/
.logo {
  height: 69px;
  width: 69px;
  position: relative;
  overflow: hidden;
  transition: all 3s cubic-bezier(0, 0.995, 0.8, 1.005);
  cursor: pointer;
  background-color: #fff;
}

.logo:before {
  content: "";
  position: absolute;
  width: 21px;
  height: 69px;
  z-index: 2;
  background-color: #fff;
  right: 0px;
  top: 0;
  /*border: solid 2px blue;*/
}

span.ys {
  height: 69px;
  position: absolute;
  left: 12px;
  top: 23px;
  z-index: 1;
  /*border: solid 2px blue;*/
}

.ys {
  color: #e25068;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;

  font-feature-settings: "liga" 0, "rlig" 0, "dlig" 0, "hlig" 0, "smcp" 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  vertical-align: middle;
}

.logo:hover {
  width: 165px;
}

/*CONTENT: FLEX LAYOUT*/
.flexcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: lavender;
  margin-top: 30px;
}

.flexcontainer > * {
  border: solid 2px blue;
  flex: 100%; /*make all elements take the full row by default*/
}

/*FOOTER*/
footer {
  background-color: #000;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*border: solid 2px blue;*/
}

footer * {
  color: #fff;
  padding: 5px 0;
  /*border: solid 2px blue;*/
}

.footerLogo {
  margin: 10px 20px;
}

.footerList,
.footerContact {
  margin: 0 20px;
}

.footerLogo,
.footerList {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;

  font-feature-settings: "liga" 0, "rlig" 0, "dlig" 0, "hlig" 0, "smcp" 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.footerContact span {
  font-weight: 800;
}

/*MEDIA*/
@media all and (min-width: 600px) {
  .fc1,
  .fc2,
  .fc3,
  .fc4,
  .fc6,
  .fc7 {
    flex: 50%;
  }

  footer {
    height: 50vh;
  }

  footer {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 120px;
  }
}
