/*1. HEADER + NAVBAR*/
header {
  display: flex;
  flex-flow: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100; }

.logo,
.hamburger-menu {
  /*border: solid 2px blue;*/
  height: 69px;
  width: 69px; }

.hamburger-menu {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

/*LOGO*/
.logo {
  height: 69px;
  width: 69px;
  position: relative;
  overflow: hidden;
  transition: width 3s cubic-bezier(0, 0.995, 0.8, 1.005);
  cursor: pointer;
  background-color: #fff; }

.logo:before {
  content: "";
  position: absolute;
  width: 17px;
  height: 69px;
  z-index: 2;
  background-color: #fff;
  right: 0px;
  top: 0;
  /*border: solid 2px blue;*/ }

/*span.b {
  height: 23px;
  position: absolute;
  left: 29px;
  top: 23px;
  z-index: 1;
  border: solid 2px blue;
}*/
span.ys {
  height: 69px;
  position: absolute;
  left: 15px;
  top: 23px;
  z-index: 1;
  /*border: solid 2px blue;*/ }

.ys {
  color: #e25068;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  font-feature-settings: "liga" 0, "rlig" 0, "dlig" 0, "hlig" 0, "smcp" 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;*/
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased; }

/*MENU*/
#menuToggle {
  display: block;
  position: absolute;
  top: 25px;
  left: 15px;
  z-index: 1; }

#menuToggle div {
  color: #fff;
  transition: color 0.3s ease; }

a:hover > div {
  color: #ff5722; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide input line */
  z-index: 2;
  /* and place it over the hamburger */ }

/* Hamburger*/
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* 
 Transform slices of hamburger into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff; }

/*
 & Let's hide the middle line in the hamburge.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*Last line of the hamburger should go the other direction*/
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

/* Make menu positioned at the top left of the screen*/
.menu {
  position: absolute;
  margin: -52px 0 0 -50px;
  padding: 50px;
  background-color: #000;
  border: solid 2px blue;
  display: flex;
  justify-content: center;
  align-items: center;
  /*transform-origin: 0% 0%;*/
  transform: translate(-100%, 0); }

/*Let's slide it in from the left */
#menuToggle input:checked ~ .menu {
  /*transform: none;*/
  /*1st option that didn't trigger the smooth transition property*/
  /*2nd option that triggered it well:*/
  transform: translate(0, 0);
  transition: transform 1.5s cubic-bezier(0, 0.995, 0.8, 1.005); }

.menuFlex {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 2px blue; }

.menuList,
.menuContact {
  margin: 25px 10px;
  border: solid 2px blue; }

.menuContact {
  font-size: 2.5rem; }

.menuList {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  font-feature-settings: "liga" 0, "rlig" 0, "dlig" 0, "hlig" 0, "smcp" 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal; }

/*FOOTER*/
footer {
  background-color: #000;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*border: solid 2px blue;*/ }

footer * {
  color: #fff;
  padding: 5px 0;
  /*border: solid 2px blue;*/ }

.footerLogo {
  margin: 10px 20px; }

.footerList,
.footerContact {
  margin: 0 20px; }

.footerLogo,
.footerList {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  font-feature-settings: "liga" 0, "rlig" 0, "dlig" 0, "hlig" 0, "smcp" 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased; }

.footerContact span {
  font-weight: 800; }

/*MEDIA*/
@media all and (min-width: 600px) {
  /*HAMBURGER MENU*/
  .menu {
    height: 100vh; }

  .menuFlex {
    width: 100vw;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center; }

  .menuList,
  .menuContact {
    margin: 25px 50px;
    text-align: left; }

  .menuContact {
    font-size: 3rem; }

  .menuList {
    font-size: 3rem;
    line-height: 40px; }

  /*FOOTER*/
  /*.footer-top {
    height: 50vh;
  }*/
  .footer-top p {
    font-size: 6rem; }

  footer {
    height: 50vh; }

  footer {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 100px; }

  footer * {
    text-align: left; } }
@media (min-width: 900px) {
  .footer-top {
    height: 50vh; } }
/*GENERAL SETTINGS*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 62.5%;
  font-family: serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/*FONT & GENERAL STYLES*/
body {
  font-size: 2rem;
  background-color: #e2e2e2; }

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  font-feature-settings: "liga" 0, "rlig" 0, "dlig" 0, "hlig" 0, "smcp" 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased; }

h3 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  font-feature-settings: "liga" 0, "rlig" 0, "dlig" 0, "hlig" 0, "smcp" 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  /*margin: 10px 0;
  padding: 0 20px;*/ }

/*CONTENT: FLEX LAYOUT*/
.flexcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 150px 0px; }

.flexcontainer > * {
  /*border: solid 2px blue;*/
  flex: 100%;
  /*make all elements take the full row by default*/ }

.fc2 {
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 500px;
  height: auto; }

/*MEDIA*/
@media all and (min-width: 600px) {
  .fc1,
  .fc3 {
    flex: 50px;
    /*flex: 1 0 0;*/ }

  .fc2 {
    flex: 3 0px;
    /*flex: 3 0px;*/ } }

/*# sourceMappingURL=about.css.map */
